body{
    margin: 0 auto;

}

/* header part start  */
.sw-hp{
    background-image: url(/backimg.jpg);
    background-attachment: fixed;
    height: 700px;
    position: sticky;
    
}

.sw-hp1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 5px;
}

.sw-hp1-b1{
    width: 100px;

}

.sw-hp1-b2{

}

.sw-hp1-b2-nav{
    margin: auto;
}

.sw-hp1-b2 nav a{

text-decoration: none;
margin-left: 20px;
font-size: 30px;
color: white;
font-weight: bolder;

}

.sw-hp1-b2 nav a:hover {
color: black;
}

.sw-hp1-b3 button{
width: 200px;
text-align: center;
padding: 10px;
background-color: blueviolet;
color: aliceblue;
font-size: 20px;
border-radius: 30px;
}


/* header part end  */
